{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font text-sm">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <div class="flex justify-center">
          <img class="mb-10" src="{% static 'assets/images/laptop.png' %}" alt="laptop image" width="200">
        </div>
        <p>Staying ahead of the competition means knowing what your audience is saying.</p>
        <p></p>Keyword Monitor is your go-to web application for real-time keyword tracking, designed to help you effortlessly gather insights from various social media platforms.</p>
        <p class="mt-8 mb-6">𓂃 𓈒𓏸‪‪</p>
        <p>Team Keyword Monitor</p>
      </div>
    </div>
  </section>
{% endblock content%}