{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <img class = "mb-10" src="/static/assets/images/logo.png" alt="Keyword Monitor Logo" width="full">
      <h2 class="text-xs text-gray-500 tracking-widest font-medium title-font mb-3">✮⋆˙</h2>
      <h1 class="sm:text-xl font-medium title-font text-gray-800">Discover What Matters with Keyword Monitor</h1>
      </br>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Stay ahead with Keyword Monitor—your go-to web app for real-time keyword tracking, effortlessly gathering insights from social media.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'assets/images/sub1.webp' %}">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">🛒</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Fashion</h1>
            <p class="leading-relaxed"># Uniqlo, HeatTec, Levi's 501, Adidas, UltraBoost, The North Face, Nuptse down jackets, Supreme, Box logo hoodies.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'assets/images/sub4.webp' %}">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">🛒</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Tableware</h1>
            <p class="leading-relaxed"># Muji, Kinto, HAY, Royal Copenhagen, Noritake, Le Creuset, Stoneware baking dishes, Denby.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'assets/images/sub11.jpg' %}">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">🛒</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Food and Beverage</h1>
            <p class="leading-relaxed"># Stumptown, Ritual Coffee Roasters, Devoción, Intelligentsia, Artisan coffee, Verve Coffee Roasters.</p>
          </div>
        </div>
      </div>
      
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'assets/images/sub10.jpg' %}">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">🛒</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lifestyle</h1>
            <p class="leading-relaxed"># Nitori, IKEA, Zara Home, The Container Store, Yamazaki, Studio McGee, Timeless interior design, Daiso.</p>

          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'assets/images/sub9.jpg' %}">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">🛒</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Cosmetic</h1>
            <p class="leading-relaxed"># Glossier, Hince, Naming, Drunk Elephant, The Ordinary, Tatcha, Vegan beauty, Charlotte Tilbury.</p>

          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'assets/images/sub15.jpg' %}">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">🛒</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Place</h1>
            <p class="leading-relaxed"># the hyundai Seoul, dMuseum, Musinsa terrace, cosciety, cibi, monoha, dnd Department, Studio Ghibli. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<section class="text-gray-600 body-font">
  <div class="container px-5 py-16 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-xl font-medium title-font text-gray-800">Empower Your Business with Keyword Monitor</h1>
      </br>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Keyword Monitor helps businesses discover trends, analyze feedback, and make data-driven decisions effortlessly.</p>
       </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center bg-blue-900 mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-gray-800 text-lg text-white title-font font-medium">Instant Keyword Monitoring</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Stay informed with automatic updates on your chosen keywords, ensuring you never miss a conversation.</p>
            <a class="mt-3 text-blue-900 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center bg-blue-900 mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <h2 class="text-lg text-white title-font font-medium">Multi-Platform Integration</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Harness the power of data from YouTube, Google, Naver and more, all in one place.</p>
            <a class="mt-3 text-blue-900 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
          <div class="flex items-center bg-blue-900 mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-lg text-white title-font font-medium">Intuitive Dashboard</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Navigate through insights with ease using our user-friendly interface, tailored for both novices and experts alike.</p>
            <a class="mt-3 text-blue-900 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-blue-600 text-white relative z-10 title-font font-medium text-sm">1</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Define Your Brand’s Focus</h2>
          <p class="leading-relaxed">Set relevant keywords for your brand.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-blue-700 text-white relative z-10 title-font font-medium text-sm">2</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Stay Updated in Real Time</h2>
          <p class="leading-relaxed">Monitor related searches in real time with the live dashboard.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-blue-800 text-white relative z-10 title-font font-medium text-sm">3</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Refine and Analyze Data</h2>
          <p class="leading-relaxed">Filter results by keyword, channel, and time period, and export data to Excel.</p>
        </div>
      </div>
    </div>
    <div class="flex relative pb-10 sm:items-center md:w-2/3 mx-auto">
      <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
      </div>
      <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-blue-900 text-white relative z-10 title-font font-medium text-sm">4</div>
      <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
        <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
          <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Explore with Flexibility</h2>
          <p class="leading-relaxed">Update keywords anytime for flexible and diverse exploration.</p>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/2 w-full">
        <div class="h-full bg-gray-100 p-8 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
            <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
          </svg>
          <p class="leading-relaxed mb-6 sm:text-xl"> No more endless scrolling to see what your customers are saying about your brand</p>
          <p class="leading-relaxed mb-8">“This app has been a total game-changer for us! It saves us hours by gathering real-time feedback from platforms like YouTube, Instagram, and more, all in one place. We no longer waste time searching manually—now we can quickly stay on top of trends, understand customer preferences, and make informed decisions for our brand. It's streamlined our workflow and significantly improved our customer engagement!"</p>
          <a class="inline-flex items-center">
            <img alt="profile" src="{% static 'assets/images/sub17.png' %}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
            <span class="flex-grow flex flex-col pl-4">
              <span class="title-font font-medium text-gray-900">Clothing Shop 'Toi Osaka'</span>
              <span class="text-gray-500 text-sm">Small Business Owner - Imai Skashita </span>
            </span>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/2 w-full">
        <img alt="working_product" src="{% static 'assets/images/sub16.webp' %}">
      </div>
      </div>
    </div>
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <img alt="working_product" src="{% static 'assets/images/sub19.jpg' %}">
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
              <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
            </svg>
            <p class="leading-relaxed mb-6 sm:text-xl"> If you couldn’t afford to hire a full-time marketer, this app is the perfect solution</p>
            <p class="leading-relaxed mb-8">"This app has been a lifesaver for us! As a small business with limited resources, we couldn’t afford to hire a full-time marketer. But now, the app acts as our marketing tool, gathering real-time feedback from platforms like YouTube, Instagram, and more in one place. We can finally catch the valuable feedback we nearly missed before, stay on top of trends, and make smarter decisions to grow our cafe. It’s been a huge boost to our workflow and customer engagement!"</p>
            <a class="inline-flex items-center">
              <img alt="profile" src="{% static 'assets/images/sub20.png' %}" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Bakery Cafe 'Cibi'</span>
                <span class="text-gray-500 text-sm">Small Business Owner - Charlotte Youngblutt </span>
              </span>
            </a>
          </div>
        </div>
        </div>
      </div>
  </div>
</section>


{% endblock content%}